/*#container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 20px;
}

#form {
  grid-column: 1;
}

#activity-collection {
  grid-column: 2;
}*/

#container {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

#form {
  height: fit-content;
  grid-column: 1; /* Position form in the first column */
}

#activity-folder {
  border: grey solid 1px;
  width: 100%; /* or a fixed width if desired */
  height: 15rem; /* outer div will adjust its height based on the content */
}

#activity-collection {
  height: fit-content;
  grid-column: 2; /* Position activity-collection in the second column */
  grid-row: 1;
}

/* Media query for screens with maximum width of 600px */
@media (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
  }

  #form {
    grid-column: 1; /* Move form to the top in a single column layout */
  }

  #activity-collection {
    grid-column: 1; /* Move activity-collection to the top in a single column layout */
  }
}
/**/

.card-empty {
  border: rgb(167, 167, 167) solid 2px;
  background-color: #d5d5d5;
  padding: 1rem;
  width: 15rem;
  height: 19rem;
  display: inline-grid;
  margin: 1rem 1.5rem;
}

.card-empty .header {
  visibility: hidden;
}

.card {
  text-align: center;
  border: grey solid 2px;
  padding: 1rem;
  width: 15rem;
  height: 19rem;
  display: inline-grid;
  margin: 1rem 1.5rem;
  box-shadow: 3px 4px #5d5959;
  transition: transform 0.5s ease;
}

#activity-requester {
  border: grey solid 1px;
  padding: 5rem;
  display: inline-grid;
  margin: 1rem 3rem 1rem 3rem;
}

#folder {
  padding: 8rem;
  display: block; /* ensure the image is a block-level element */
  max-width: 100%; /* ensure the image does not exceed the width of its container */
  height: auto; /* allow the image to adjust its height proportionally */
}

.form-spacer {
  width: 5rem;
  height: 3rem;
}

.card .header {
  background-color: rgb(0, 66, 152);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .activity {
  color: rgb(38, 38, 38);
  border: grey solid 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row: 2 / span 3;
}

.card .accessibility{
  color: rgb(239, 253, 255);
  /*padding: 10px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  height: 50%;
}

.card .easy{
  background-color: #319931;
}

.card .medium{
  background-color: #760086;
}

.card .hard{
  background-color: #952439;
}

.card-shrink {
  transition: all 0.3s ease-out;
  transform: scale(0.95);
}
