#container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 20px;
}

#form {
  grid-column: 1;
}

#activity-collection {
  grid-column: 2;
}
/**/
#activity-requester {
  border: grey solid 1px;
  padding: 1rem;
  display: inline-grid;
}

.card-empty {
  border: rgb(167, 167, 167) solid 2px;
  background-color: #d5d5d5;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.card-empty .header {
  visibility: hidden;
}

.card {
  text-align: center;
  border: grey solid 2px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #5d5959;
  transition: transform 0.5s ease;
}

.card .header {
  background-color: rgb(0, 66, 152);
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .activity {
  color: rgb(38, 38, 38);
  border: grey solid 2px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row: 2 / span 3;
}

.card .accessibility{
  color: rgb(239, 253, 255);
  /*padding: 10px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  height: 50%;
}

.card .easy{
  background-color: #319931;
}

.card .medium{
  background-color: #760086;
}

.card .hard{
  background-color: #952439;
}

.card-shrink {
  transition: all 0.3s ease-out;
  transform: scale(0.95);
}
